.footer {
  background-color: lightcyan;
   width: 1440px;
  display: flex;
  flex-direction: column; 
  align-items: center;   
  padding: 20px;
}

.iconos-footer {
  display: flex;          
  justify-content: center;
  gap: 15px;              
}

.img-footer {
  width: 40px;
  height: auto;
}

.tx {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
