.seccion2{
    width: 1440px;
    margin-top: -150px;
   height: 70px;
    background-color: lightcyan;
    height: auto;
}
.cuadro1{
    width: 310px;
    height: 286px;
    background-color: white;
    margin-top: 15px;
    margin-left: 350px;
}
.cuadro2{
    width: 310px;
    height: 286px;
    background-color: white;
    margin-top: -305px;
    margin-left: 800px;
}
.titu2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.tex{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.conte{
    margin-top: 30px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}